<!DOCTYPE html>
<html lang="en">

<head>
	<title>How is It?</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div id="container-main" class="container white">
		<nav>
	    <div class="nav-wrapper blue-grey">
	      <form id="new-todo">
	        <div class="input-field">
	          <input id="todo-input" type="search" name="todo" placeholder="what do you need to do?" required>
	          <label class="label-icon" for="search"><i class="material-icons">add_box</i></label>
	          <i class="material-icons">close</i>
	        </div>
	      </form>
	    </div>
	  </nav>
		<main>
			      {{{ body }}}
		</main>
 <footer class="page-footer blue-grey">
    <div class="footer-copyright">
      <div class="container">
      © 2017 | David Lassiter
      <a class="grey-text text-lighten-4 right" href="#!">Social Links</a>
      </div>
    </div>
  </footer>
	</div>
	<script type="text/javascript" src="js/client.js"></script>
</body>
</html>
